* {
    padding: 0px;
    margin: 0px;
}

#Hero {
    height: 400px;
}

#Hero::before {
    content: " ";
    position: absolute;
    background: url("../img3/nightTanker.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    width: 100%;
    height: 350px;
    z-index: -1;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 110px;
    margin-top: 10px;
    margin-bottom: 100px;
}

#img {}

#img img {
    height: 50px;
}

#nav {}

#nav ul {
    display: flex;
    flex-direction: row;
}

#nav ul li {
    list-style: none;
    margin: 0px 8px;
}

#nav ul li a {
    padding: 8px;
    font-size: 18px;
}

.white {
    color: white;
    text-decoration: none;
}

#yellow {
    color: #FFBD00;
    text-decoration: underline;
}

.btn {
    border-style: none;
    padding: 8px 24px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

#hero-heading {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#hero-heading h1 {
    display: inline;
    color: white;
    text-align: center;
    font-size: 48px;
}


/* FAQ's Section */

#faq {
    height: 500px;
}

#faq-continer {
    padding: 0px 120px;
    /* border: 2px solid red; */
}

#faq-continer h1 {
    text-align: center;
    padding: 8px 20px;
    padding-bottom: 24px;
}

#faq-continer h1 a {
    display: inline;
    border: 2px solid black;
    padding: 8px 20px;
    background-color: #0A3579;
    color: white;
}

#faq-cont {
    border: 6px solid #0A3579;
    border-radius: 8px;
    padding: 24px 48px;
}

.faqs {
    /* border: 2px solid rgb(0, 0, 0); */
    padding: 16px;
    margin: 8px;
}

.faqs-question {
    /* border: 2px solidfaqs-question rgb(38, 14, 145); */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.faqs-question h2 {
    font-size: 20px;
    font-weight: 6000;
}

.faqs-question img {
    height: 16px;
    font-weight: bold;
    margin-left: 40px;
    cursor: pointer;
}

hr {
    size: 8;
    width: 100%;
    background-color: #0A3579;
    border: 1px solid #0A3579;
}

.faqs-answer {
    /* border: 2px solid rgb(14, 161, 27); */
    margin-top: 5px;
    display: none;
}

.faqs-answer p {}

.faqs.active .faqs-answer {
    display: block;
}